{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "world": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "player": "Collide",
    "playertriggeronly": "Trigger",
    "ai_cover": "Collide",
    "interaction": "Ignore",
    "projectile": "Collide",
    "pawn": "Collide",
    "physicsobject": "Collide"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "player",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "playertriggeronly",
      "r": "Trigger"
    },
    {
      "a": "solid",
      "b": "ai_cover",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "ai_cover",
      "r": "Ignore"
    },
    {
      "a": "world",
      "b": "ai_cover",
      "r": "Collide"
    },
    {
      "a": "ladder",
      "b": "ai_cover",
      "r": "Collide"
    },
    {
      "a": "water",
      "b": "ai_cover",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "ai_cover",
      "r": "Collide"
    },
    {
      "a": "playertriggeronly",
      "b": "ai_cover",
      "r": "Ignore"
    },
    {
      "a": "ai_cover",
      "b": "ai_cover",
      "r": "Collide"
    },
    {
      "a": "interaction",
      "b": "interaction",
      "r": "Collide"
    },
    {
      "a": "projectile",
      "b": "projectile",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "projectile",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "projectile",
      "r": "Ignore"
    },
    {
      "a": "world",
      "b": "projectile",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "projectile",
      "r": "Ignore"
    },
    {
      "a": "ai_cover",
      "b": "projectile",
      "r": "Collide"
    },
    {
      "a": "interaction",
      "b": "projectile",
      "r": "Collide"
    },
    {
      "a": "water",
      "b": "projectile",
      "r": "Collide"
    },
    {
      "a": "ladder",
      "b": "projectile",
      "r": "Collide"
    },
    {
      "a": "playertriggeronly",
      "b": "projectile",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "pawn",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "pawn",
      "r": "Trigger"
    },
    {
      "a": "world",
      "b": "pawn",
      "r": "Collide"
    },
    {
      "a": "ladder",
      "b": "pawn",
      "r": "Collide"
    },
    {
      "a": "water",
      "b": "pawn",
      "r": "Trigger"
    },
    {
      "a": "player",
      "b": "pawn",
      "r": "Collide"
    },
    {
      "a": "playertriggeronly",
      "b": "pawn",
      "r": "Ignore"
    },
    {
      "a": "ai_cover",
      "b": "pawn",
      "r": "Collide"
    },
    {
      "a": "interaction",
      "b": "pawn",
      "r": "Ignore"
    },
    {
      "a": "projectile",
      "b": "pawn",
      "r": "Ignore"
    },
    {
      "a": "pawn",
      "b": "pawn",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "physicsobject",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "physicsobject",
      "r": "Trigger"
    },
    {
      "a": "world",
      "b": "physicsobject",
      "r": "Collide"
    },
    {
      "a": "ladder",
      "b": "physicsobject",
      "r": "Collide"
    },
    {
      "a": "water",
      "b": "physicsobject",
      "r": "Trigger"
    },
    {
      "a": "player",
      "b": "physicsobject",
      "r": "Collide"
    },
    {
      "a": "playertriggeronly",
      "b": "physicsobject",
      "r": "Ignore"
    },
    {
      "a": "playertriggeronly",
      "b": "playertriggeronly",
      "r": "Ignore"
    },
    {
      "a": "water",
      "b": "playertriggeronly",
      "r": "Ignore"
    },
    {
      "a": "world",
      "b": "playertriggeronly",
      "r": "Ignore"
    },
    {
      "a": "ladder",
      "b": "playertriggeronly",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "playertriggeronly",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "playertriggeronly",
      "r": "Ignore"
    },
    {
      "a": "playertriggeronly",
      "b": "interaction",
      "r": "Ignore"
    },
    {
      "a": "physicsobject",
      "b": "physicsobject",
      "r": "Collide"
    },
    {
      "a": "pawn",
      "b": "physicsobject",
      "r": "Collide"
    },
    {
      "a": "projectile",
      "b": "physicsobject",
      "r": "Collide"
    },
    {
      "a": "interaction",
      "b": "physicsobject",
      "r": "Collide"
    },
    {
      "a": "ai_cover",
      "b": "physicsobject",
      "r": "Collide"
    }
  ],
  "__guid": "92801c32-de57-4517-abdc-2057337d5b37",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}