{
  "Systems": {
    "RedSnail.WaterTool.WaterManager": {
      "OceanWaveProfile": "resources/ocean.wtdef",
      "LakeWaveProfile": "resources/lake.wtdef",
      "PoolWaveProfile": "resources/pool.wtdef"
    }
  },
  "__guid": "30b55ab9-d4d3-4169-8b25-66e758ad352d",
  "__schema": "configdata",
  "__type": "SystemsConfig",
  "__version": 1
}