@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="money">
		<p>✡️🤑@PlayerController.Coins</p>
	</div>

	<div class= "vitals">
	
	</div>

	<div class="healthbars">
		<div class="healthbar">
			<div class="inner">
				<div class="fill" style="width: @(PlayerController.Health / PlayerController.MaxHealth * 100f)%"></div>
			</div>
		</div>
	</div>
	
</root>

@code
{
	[Property] TempPlayerController PlayerController { get; set; }

	string GetTimeString()
	{
		var time = PlayerController.TimeAlive;
		var minutes = (int)time / 60;
		var seconds = (int)time % 60;
		return $"{minutes:00}:{seconds:00}";
	}

	protected override int BuildHash()
	{
		return System.HashCode.Combine(PlayerController.Health, PlayerController.TimeAlive.ToString());
	} 
}




